/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* ol, ul {
    list-style: none;
  } */

img {
  max-width: 100%;
  height: auto;
}

/* END OF CSS RESET */

html {
  font-size: 62.5%;
  /* height: 100%; */
}

body {
  /* height: 100%; */
}

/* FIX FOR CHROME AUTOCOMPLETE https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid white; */
  -webkit-text-fill-color: gray;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* NOW PLAYING BAR ******************************************* */

/* NOW PLAYING BAR CENTER */

.now-playing-bar-container {
  background-color: #282828;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.now-playing-bar {
  display: flex;
  height: 15vh;
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
}

.now-playing-bar__center {
  /* background-color: hotpink; */
  flex: 0 0 50%;
  height: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.now-playing-bar__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.now-playing-bar__button {
  font-size: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #808080;
}

.now-playing-bar__button ion-icon {
  /* display: inline-block; */
  vertical-align: text-bottom;
  pointer-events: none;
}

.now-playing-bar__progress-bar {
  /* height: 2rem; */
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  height: 1.5rem;
  flex: 0 0 80%;
  margin: 1rem;
  border-radius: 25rem;
  cursor: pointer;
}

.progress-bar__background {
  background-color: #3d3b3b;
  width: 100%;
  height: 100%;
  border-radius: 25rem;
}

.progress-bar__foreground {
  background-color: #808080;
  width: 37%;
  height: 100%;
  border-radius: 25rem;
}

.progress-time {
  color: #808080;
  font-size: 1.5rem;
  font-weight: bold;
}

.button-play {
  font-size: 5rem;
}

/* NOW PLAYING BAR LEFT/RIGHT */

.now-playing-bar__left,
.now-playing-bar__right {
  flex: 1 0 25%;
  min-width: 180px;
  height: 100%;
  display: flex;

  align-items: center;
}

.now-playing-bar__left {
  justify-content: flex-start;
}

.now-playing-bar__right {
  justify-content: flex-end;
}

.now-playing__img {
  height: 80%;
  overflow: hidden;
}

.now-playing__img img {
  width: 10rem;
  height: 100%;
}

.now-playing__info {
  margin: 0 1rem;
  text-transform: capitalize;
}

.now-playing__song-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
}

.now-playing__song-artist {
  font-size: 1.2rem;
  color: #808080;
}

.now-playing__volume-bar {
  height: 1.5rem;
  flex: 0 0 80%;
  margin: 1rem;
  border-radius: 25rem;
  cursor: pointer;
}

.volume-bar__background {
  width: 100%;
  background-color: #3d3b3b;
  height: 100%;
  border-radius: 25rem;
}

.volume-bar__foreground {
  width: 33%;
  background-color: #808080;
  height: 100%;
  border-radius: 25rem;
}
